.comp {
    display: inline-block;
    position: relative;
}

.completed {
    max-width: 800px;
    width: 90%;
    margin: auto;
    display: absolute;
    position: relative;
    padding: 2px 30px 10px 30px;
    background-color: #124559;
}

.compTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}